.calculadora {
    width: 460px;
    height: 500px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.calculator-lbl{
 
    height: 80px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top:10px
}

.calculadora-btn{

    font-size: 35px;
    padding: 13px;
    margin: 20px;
    background: #2f39ff;
    color: white;
    border-radius: 1px;
    Height:50px;
    width: 50px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
 
     
}

.contenedor-items{  
   
}